a.active{
	background: #ffa64d !important;
}
body.my{
	background: #ffffb3 ;
}
div.services
{
	background:#ffa64d ;
}

li.resp-tab-item.hor_1.resp-tab-active
{
	background: #ffa64d !important;
}
a.hk
{
	background: #ffa64d !important;
}
a.btn.btn-primary.btn-lg
{
	background: #ffa64d !important;
}
div.resp-tabs-container.hor_1
{
	background: #ffffb3 !important;
}
a.jk
{
	color:#ffa64d !important; 
}
